* {
  box-sizing: border-box;
  font-family: Raleway;
}

.app-container { 
  margin: 1.5rem 1.5rem;
}

.app {
  text-align: center;
}

.app-header{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #060933;
    height: 4rem;
    width: 100%;
}

.navigate{
  text-decoration: none;
  color:white;
}
    