.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.flex-container > div {
    margin: 1rem;
    text-align: center;
}
  

.horizontal-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.horizontal-item-container > div {
    margin: 1rem;
    text-align: center;
}
  
.horizontal-item-container > div:hover {
    border: 2px solid black;
}